/** Modal and Modal Button Styles **/
#kevBtn {
    display: block;
    position: absolute;
    margin-top: 21px;
    margin-left: -17px;
    width: 14px;
    height: 14px;
    padding: 14px;
    background: #fff url(https://raw.githubusercontent.com/mappingprejudice/mappingprejudice.github.io/master/images/fullscreen.png) no-repeat 7px 3px;
    box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.72);
} 
.modal-content {
    position: fixed;
    top: 10px;
    bottom: 0px;
    left: 30px;
    right: 30px;

}

#iframe-modal {
    border-style: solid;
    border-width: 3px !important;
    border-color: #827b7b;
    width: 100%; 
    border-width: 0px
}

.iframe-media {
    height: 210px; 
}
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    text-align: right;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/** contact modal setting **/

.top_btns {
    height: 38px;
    font-size: medium;
}
#contact_modal_screened {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 10;
}
#contact_modal_div {
    display: block;
    position: fixed;
    z-index: 10;
    left: 25%;
    top: 15%;
    bottom: 10%;
    right: 25%;
    overflow: hidden;
    background-color: #e6e6e6;
    border-radius: 7px;
} 
.contact_modal_content {
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1%;

}
#contact_close {
    color: #5d5c5c;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}
#contact_close:hover,
#contact_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#field_text_comment_box {
    height: 160px;
}
.field-div {
    background-color: #e6e6e6;
    padding: 20px;
}
.form-title{
  

}
.form-field{
    margin-bottom: 15px;
    display: block;
    height: 20px;
    width: 100%;
    font-size: large;
}

.field-text{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
  
}
.sub-field-div{
  
}

/** Carto Style Edits **/

#carto_screen {
    position: absolute;
    width: 705px;
    height: 500px;
    background-color: #80808000;
    margin-top: 38px;
    text-align: center;
    margin-left: 47px;
    z-index: 2;
}

#carto_div {
    margin: 0 auto;
    max-width: 800px;
}
#carto_div2 {

}

.cartodb-timeslider {
    bottom: 15px !important;
    left: 20px !important;
}

.cartodb-logo {
    display: none !important;
}

div.cartodb-timeslider .ui-slider-horizontal {
    height: 8px !important;
}

div.cartodb-timeslider .ui-slider .ui-slider-handle {
    background: url(../images/sliderdark.png) no-repeat -98px -17px #fff !important;
    top: -3px !important;
    height: 11px !important;
}

div.cartodb-timeslider a.button{    
    background: url(../images/sliderdark.png) no-repeat -2px -55px !important;
}

div.cartodb-timeslider p {
    color: #5b5858 !important;
    font-size: 15px !important;
}

div.cartodb-timeslider a.button:hover {
    background-position: -42px -55px !important;
}

div.cartodb-timeslider a.button.stop:hover {
    background-position: -42px -4px !important;
}

div.cartodb-timeslider a.button.stop {
    background-position: -2px -4px !important;
}
.leaflet-control-attribution {
    display: none;
}

div.cartodb-popup.v2 {
    margin-top: 50px;
    margin-right: 25px;
}

/** 
modal btn stuff **/
.img-btn-screen-txt-home{
    color: #2d2c2a;
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 1px 1px 5px #908f8f;
    border: 1px solid #797979;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.66);
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.footnote-text {
    font-size: smaller;
}


/** Bxslider Edits **/

ul.bxslider {
    margin: 0px;
}

#slidertext {
    padding: 0px;
    padding-bottom: 5px;
    margin-left: 55px;
    margin-right: 50px;
    text-align: center;
}

#sliderlink {
    color: #c2dee8;
    text-align: center;
}

.bx-wrapper {
}

/** main nav bar desktop display **/

.top-sticky-nav-desktop{
    position: fixed;
    background-color: #000000;
    height: 75px;
    top: 0px;
    width: 100%;
    z-index: 10;
    top: 0px;
    transition: all .5s ease;
}

#show-nav{
    display: block;
    padding: 1px 0px;
    transition: all .5s ease;
    background-color: #000000;
}
#show-nav a{
   color: white;
   text-shadow: none;
}
#show-nav a:hover{
   color: grey;
   text-shadow: none;
}
.homepage-icon{

}

/** Title Nav Bar Styles **/

.nav-left{
    float: left;
    line-height: 40px;
}
.nav-right{
    float: right;
    line-height: 40px;
    margin-right: 1%;
}
.sub-title{
    margin-top: 25px;
    margin-bottom: 0px;
}

.sub-title-list {
    display: inline-block;
    color: #000000;
    width: 100%;
    text-align: left;
}
.nav-item{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.nav-item a{
    color: white;
}

.nav-item a:hover{
    color: #ffffff;
    color: grey;
}
.sub-title-list-nav-contact {
    display: inline-block;
    color: #000000;
    position: relative;
    margin-right: 20px;
}
.sub-title-list-nav-contact a{
    color: #ffffff;
}

.sub-title-list-nav-contact a:hover{
    color: grey;
}

.sub-title-list-nav-events {
    display: inline-block;
    color: #000000;
    position: relative;
}
.sub-title-list-nav-events a{
    color: #ffffff;
}
.sub-title-list-nav-events a:hover{
    color: grey;
}
.sub-title-list-nav-donate {
    display: inline-block;
    color: #000000;
}
.sub-title-list-nav-donate a{
    color: #ffffff;
}
.sub-title-list-nav-donate a:hover{
    color: grey;
}
.sub-title-list-nav-home {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    color: #000000;
    position: relative;
}
.sub-title-list-nav-home a{
    display: inline-block;
    margin-left: 10px;
    color: white;
    position: relative;
    font-size: x-large;
    font-weight: bolder;
}
.sub-title-list-nav-home a:hover{
    color: grey;
}

/** Mobile Nav Bar **/
.stickyNav-img{
    float: right;
    margin-right: 10px;
    height: 35px;
    width: 33px;
}

.stickyNav{
    display: none;
}

/** Blog Post Styles **/
.news-title {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    padding-top: 5%;
    border-top-color: grey;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: larger;
    color: black;
}
.about-sub-title {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 6%;
    font-size: larger;
    color: black;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.date-line {
    margin-bottom: 5px;
    font-style: italic;
}

.post-text {
  margin-top: 0px;
}

.page-sub-title {
    text-align: center;
    border-bottom: #393f44;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-left: 5%;
    margin-right: 5%;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0px;
}

.blog-img {
    max-width: 500px;
}

.blog-img-div {
    text-align: center;
}
/** Resources Page Styles **/


/** Page Styles **/

.p-no-padding{
    padding: 0px;
}
.content-block-1{
    background-color: #d0cbcb;
    padding: 20px;
}
.content-block-2{
    background-color: #dbd9e2;
    padding: 0px;
}
.content-block-3{
    background-color: none;
    padding: 0px;
}
#link-box-1{
    background-color: #cadcf3;
    text-align: left;
}
#link-box-2{
    background-color: #e6e5d0;
    text-align: center;
}
#link-box-3{
    background-color: #b6cac0;
}
#link-box-4{
    background-color: #c7cace;
}
#link-box-5{
    margin: 30px;
    line-height: 80px;
}
#link-box-6{
    margin: 0px 15px 30px 15px;
    line-height: 80px;
    background-color: #9a9a9a9e;
}

#link-box-1:hover{
    background-color: #ff6955;
}

#link-box-2:hover{
    background-color: #ff6955;
}

#link-box-3:hover{
    background-color: #ff6955;
}
#link-box-4:hover{
    background-color: #ff6955;
}
#link-box-5:hover{
    background-color: #f5acac8c;
}
#link-box-6:hover{
    background-color: #ff6955;
}

.flex{
    display: flex;
    text-align: left;
}
.flex-center{
    display: flex;
    text-align: center;
    background-color: white;
}

.flex a{
    flex: 1;
    text-align: center;
}

.flex-title{
    font-size: 50px;
    color:  white;
    text-align: center;
    margin: 0;
    padding: 25px;
}
.flex-sub-title{
    font-size: 50px;
    color:  white;
    text-align: center;
    margin: 0;
    padding: 100px;
}
.flex-title-page{
    font-size: 50px;
    color:  white;
    text-align: center;
    margin: 0;
    padding: 25px;
}

.flex-title-content-block{
    font-size: 50px;
    color: white;
    text-align: left;
    margin: 0;
    padding: 8% 10% 2% 10%;
}
.flex-title-small{
    font-size: 30px;
    color:  white;
    text-align: center;
    margin: 0;
    line-height: initial;
    padding: 10%;
}
.flex-title-smallest{
    font-size: 20px;
    color:  white;
    text-align: center;
    margin: 0;
    padding: 25px;
}
.flex-title-stories{
    font-size: 40px;
    color:  white;
    text-align: center;
    margin: 0;
    padding: 15% 0% 5% 0%;
}
.flex-title-get-involved{
    font-size: 30px;
    color:  white;
    text-align: center;
    margin: 0;
    line-height: initial;
    padding: 5%;
}
.flex-title-resources{
    font-size: 50px;
    color:  white;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.flex-para-header{
    font-size: 30px;
    text-align: center;
}

.flex-para{
    margin-bottom: 22%;
    font-weight: 300;
    font-size: 21px;
}
#flex-background-img{
  width: 100%;
  height: 100%;
}

#flex-background-img::after {
  content: "";
  background: url('../images/zooniverse_background.png');
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;   
}

.flex-div-1{
    flex: 1;
}
.flex-div-1-bio{
    flex: 1;
    background-color: white;
    padding: 0%;
}
.flex-div-1 p{
    flex: 1;
    padding: 0% 10%;
}
.about-bios {
    background-color: white;
    padding: 0% 10% 2% 10%;
}
.flex-div-2{
    flex: 2;
}
.flex-div-2-left{
    flex: 2;
    text-align: left;
}
.flex-div-3{
    flex: 3;
}
.flex-div-2-blog{
    flex: 2;
    background-color: #d8d3d3ed;
}
.flex-div-4{
    flex: 1;
}
.flex-div-4 p{
    padding: 0% 5%;
}
.flex-btn-div{
    margin: 0% 30% 0% 30%;
    display: inline-block;
    text-align: center;
}
.flex-btn{
    color: white;
    font-size: large;
    font-weight: 600;
    border-color: white;
    border-width: 5px 0px 5px 0px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}
.page-title-padding{
    padding: 100px;
    background-color: #00000094;
}
.banner-img {
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: -1;
    padding-bottom: 30px;
    background-color: #ffffff !important;
    background-size: initial !important;
    background-position: center;
}

.banner-img-about {
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: -1;
    padding-bottom: 30px;
    background-color: #ffffff !important;
    background-size: initial !important;
    background-position: center;
}
.banner-img-covenants {
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: -1;
    padding-bottom: 30px;
    background-color: #ffffff !important;
    background-size: initial !important;
    background-position: center;
}
.banner-img-get-involved {
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: -1;
    padding-bottom: 30px;
    background-color: #ffffff !important;
    background-size: initial !important;
    background-position: center;
}
.banner-img-resources {
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: -1;
    padding-bottom: 30px;
    background-color: #ffffff !important;
    background-size: initial !important;
    background-position: center;
}
.banner-img-stories {
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: -1;
    padding-bottom: 30px;
    background-color: #ffffff !important;
    background-size: initial !important;
    background-position: center;
}
.banner-img-events {
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: -1;
    padding-bottom: 30px;
    background-color: #ffffff !important;
    background-size: initial !important;
    background-position: center;
}
.link-offset{
    position: absolute;
    margin-top: -100px;
}
.content-top-bar {
    height: 5px;
    background-color: black;
}
#content {
    background: rgb(234, 234, 235) !important;
    
}
.speaking-pading{
    margin: 0% 5% 0% 0%;
    width: 400px;
}
p.p-no-padding{
    padding: 0%;
}

.resources-sub-title {
    font-size: xx-large;
    font-weight: bold;
}
#lead-para {
    padding: 0px 25px 25px 25px;
    font-weight: bold;
    margin: 0% 15% 6% 15%;
    margin-right: 15%;
    color: black;
    font-size: large;
    text-align: left;
}

#lead-para-main-page{
    padding: 0px 25px 25px 25px;
    font-weight: 200;
    margin: 0% 15% 6% 15%;
    margin-right: 15%;
    color: black;
    font-size: 30px;
    text-align: center;
}
.lead-para-black {
    font-weight: bold;
}

.page-lead-img {
    max-width: 86%;
    height: auto;
    padding: 2%;
    background-color: grey;
}

.page-body-img {
    max-width: 65%;
    height: auto;
    padding: 2%;
    background-color: grey;
    margin-top: 25px;
}
.img-sub-script {
    color: #808080;
    margin-top: 5px;
    font-style: italic;
    font-size: medium;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 25px;
}
.side-nav-bar {
    position: absolute;
}
.side-nav-link {
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: larger;
}
a.side-nav-link:hover {
    color: black;
}
li:hover {
    border-color: transparent;
}

.mp-lead-img {
    height: auto;
}


.align-center-div {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #9a9a9a;
    text-align: center;
}
    
.entry-content {
    background-color: none;
}

body {
    background-color: #ffffff;
    margin: 0px;
    font-family: Walfork,Walsheim,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    margin-bottom: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5;
    color: black;
}

.left-align {
    text-align: left;
}

.center-align{
    text-align: center;
}
.training-text {
    text-align: left;
}
#tutorial-iframe{
    width: inherit;
    height: inherit;
}
.iframe-div {
    width: 95%;
    height: 350px;
    margin: 10% 0% 0% 0%;
}
#myiframe-mobile{
    display: none;
}
#myiframe{
    height: 700px;
}
.training-text-div { 
    width: 45%;
    margin: 0px;
    display: inline-flex;
}
.content-width {
    /* background-color: #f1f1ec; */
    margin: 0 auto;
    max-width: 2000px;
}

.iframe-box {
    background-color: rgba(92, 89, 89, 0.72);
}

.iframe-background {
    background-color: #9a9a9a75;
    text-align: center;
    padding: 6px;
    margin-right: 15%;
    margin-left: 15%;
    
}
.top-section {
    padding-top: 0px;
    /** background-color: rgba(255, 255, 255, 0.85); **/
    text-align: center;
    min-height: 450px;
}

.main-title {
    font-size: 50px;
    line-height: 200px;
    padding-top: 75px;
    margin: 0px;
}
.main-title-lead{
    font-size: 50px;
    line-height: 200px;
    padding-top: 150px;
    margin: 0px;
}

.main-title-stories {
    font-size: 50px;
    padding-top: 75px;
    background-color: #8080809e;
}

#main_title_a {
    color: black;
    border-width: 7px;
    border-style: solid;
    border-color: black;
    padding: 20px;
  
}
.bio-div{
    display:block; 
    margin-top:30px; 
    height:auto; 
    overflow:hidden;
}
.bio-imgs {
    max-height: 225px; 
    display: inline-block;
    padding-right: 15%;
}

.bio-name {
    margin: 0px;
    font-weight: 600;
    font-size: larger;
    padding: 0%; 
}
.bio-email{
    margin: 0% 0% 2% 0%;
    font-weight: 600;
    font-size: medium;
    padding: 0%; 
}
.bio-title {
    margin: 0px;
    font-weight: 600;
    font-size: medium;
    padding: 0%;
    color: gray;
    font-style: italic; 
}
.bio-text {
    font-weight: 300;
    margin: 0px;
    font-size: large;
    padding: 0%;
}
.alumni-name {
    margin: 0%;
    font-weight: 400;
}
.alumni-description{
    color: grey;
    margin: 0%;
    font-weight: 300;
}
.text-padding{
    padding: 2% 10%;
    text-align: left;
}
.text-padding-light{
    padding: 1% 1%;
}
#sub-title-link-donate {
  color: #000000;
}
#sub-title-link-contact {
  color: #000000;
}

#sub-title-link-events {
  color: #000000;
}

#sub-title-link {
    text-decoration: none;
    color: #000000;
}
a#sub-title-link:hover {
    color: #000000;
}
 a:hover{
    color: #d10000;
 }

a {
    text-decoration: none;
    color: #688bbb;
}

.left-nav-ul {
    margin: 0px; 
    width: 85%; 
    background-color: #dde1e6;
}

.ul-main-page-btns {
    text-align: center;
    padding-left: 0%;
    margin: 0;
    padding: 13%;
}

.ul-main-page-btns li{
    display: inline-block;
    padding: 20px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    font-size: larger;
    margin: 0% 2% 0% 2%;
}

.ul-main-page-btns li a {
    color: white;
    display: inline-block;
    padding: 20px;     
    margin: -20px; 
    font-size: 40px;
    font-weight: 600;
}

.ul-main-page-btns li a:hover{
    color: white;
}
.main-page-btns {
    background-color: #252525a6;
}

/** Events Page Styles **/

.events-block{
    border-width: 5px 5px 0px 5px;
    border-style: solid;
    border-color: #929191;
}

.events-flex{
    display: flex;
    text-align: left;
    padding: 2%;
}

.events-month{
    font-size: large;
    font-weight: 600;
    margin-bottom: 0px;
}
.events-date {
    margin-top: 0px;
}

.date-box{
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    flex: 1;
    text-align: center;
}

.location-box{
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    flex: 1;
}

.events-title{
    margin: 0;
    padding: 2%;
    background-color: #c7c7c7;
}

/** Media Page Styles **/
.stories-lead-img{
    width: 100%;
}
.blog-img{
    max-width: 300px;
}

.media-block{
    padding-top: 50px;
}
.media-block-stories{
    padding-top: 50px;
    margin: 0% 5%;
}
.media-align {
    text-align: center;
}
.media-ul {
    padding-left: 0px;
}
.media-title{
    font-size: xx-large;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 2%;
}
.media-group-title{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 5%;
    font-size: xx-large;
}

.media-item-1 {
    display: inline-block;
    max-width: 334px;
    vertical-align: top;
}
.media-item-2 {
    display: inline-block;
    max-width: 334px;
    vertical-align: top;
}

.media-item-div {
    text-align: center;
}

.media-map-img {
    max-width: 65%;
    height: auto;
}

.margin-none{
    margin: 0px;
}
.bio-padding{
    padding: 0% 0% 0% 0%;
    margin-bottom: 1.5em;
}
.bio-sub-title{  
    font-size: 40px;
    color: #464646;
    text-align: left;
    border-color: #505050;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding-top: 3%;
}
.press-img-box {
    height: 200px;
}
.press-images-div{
    text-align: center;
}
.press-imgs {
  max-width: 95%;
}
.press-text-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    text-align: left;
}

.press-author {
    margin-bottom: 2em;
    font-size: smaller;
    text-align: left;

}
.press-text {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    text-align: left;
}

.blog-author {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding-top: 5%;
}
.blog-date {
    font-style: italic;
    text-align: left;
    margin: 0;
}
.blog-lead {
    margin-bottom: 2em;
    font-size: medium;
    text-align: left;
}
.blog-link{
    text-decoration: none;
    color: black;
}
.blog-link:hover{
    color: black;
    
}

.stories-author-line{
    margin: 0;
}

.get-involved-box {
    margin: auto;
}
.get-involved-margin{
    padding-bottom: 2%;
}
.get-involved-text{
    font-size: large;
    font-size: large;
    font-weight: 600;
    padding: 0% 5%;
}

.get-involved-text ul{
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.get-involved-text li {
    display: inline-block;
    padding: 0% 5% 0% 0%;
}

.list-block {
    display: inline-block;
    text-align: left;
}

.list-block p{
    padding: 0px 10px 0px 0px;

}

.list-number{
    font-size: 60px;
    color: white;
    margin: 0;
}


.img-icon{
    max-height: 150px;
}
/** Social Icon Style **/

#ssk-overide-fb{
    background-image: url('../images/fb_no_border.png');
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    background-size: 40px;
    background-repeat: no-repeat;
    margin-left: 10px;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    padding: 5px;
    border-radius: 20px;
}

#ssk-overide-fb:hover {
    border-color: #d10000;
    cursor: pointer;
}

#ssk-overide-twit{
    background-image: url('../images/twitter_no_border.png');
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    background-size: 40px;
    background-repeat: no-repeat;
    margin-right: 10px;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    padding: 5px;
    border-radius: 20px;
}

#ssk-overide-twit:hover {
    border-color: #d10000;
    cursor: pointer;
}

#ssk-overide-google{
    background-image: url('../images/Google_Plus.png');
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    background-size: 40px;
    background-repeat: no-repeat;
    margin-left: 20px;
}
#social-icons {
    float: right;
}

#social-list {
    margin-top: 10px;
    text-align: center;
}
#social-list-mobile {
    display: none;
    position: fixed;
    z-index: 10;
    right: 0;
    margin-top: 170px;
}

#social-list li{
    display: inline-block;
}
/*footer styles */
footer{
    background-color: grey;
}

.footer-flex{
    flex: 1;
}

.footer-contain{
    padding-bottom: 5%;
}

.footer-text{
    text-align: center;
}

.footer-text p{
    font-size: 20px;
    margin: 15px 0px 15px 0px;
    color: #9dc5fb;
}

.footer-sub-text{
    font-size: medium;
    margin: 0px 0px 10px 0px;
    color: white;
}

#sub-header-content {
    position: relative;
    z-index: 1;
    background: #ffffff;
    min-height: 500px;
    width: 100%;
}

.wrapper-parallax {
    margin-top: 0px;
}
.donate_text{
    margin-top: 5%;
    text-align: center;
}
.donate_text a {
    padding: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    font-size: larger;
}

.donate_text a:hover{
    border-color: #d10000;
}
/* Mail Chimp Styles */

#mc_embed_signup{
    margin-left: 5%;
}

#mc-embedded-subscribe{
    border: none;
    font-size: inherit;
    padding: 1%;
}

#mce-EMAIL{
    font-size: inherit;
    border: none;
    padding: 1%;
}

/* Google Forms Styles */
.contact_form{
    padding-bottom: 5%;
}
.form{
    padding: 1% 5%;
}
.form-field-google-1{
    display: inline;
}
.form-field-google-2{
    display: grid;
    padding-top: 2%;
}
.form-field-google-3{
    display: inline-block;
    padding-top: 1%;
}
.google-form-box-1{
    height: 25px;
    width: 25%;
    margin-right: 3%;
    border: none;
}
.google-form-box-2{
    height: 100px;
    border: none;
}
.google-form-box-3{
    width: 55px;
    height: 28px;
    border: none;
    font-size: 15px;
}
input[type="text"] {
    font-size: large;
}
input[type="email"] {
    font-size: large;
}
textarea[type="text"] {
    font-size: large;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: large;
  color: #00000063;
  padding: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: large;
  color: #00000063;
  padding: 5px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: large;
  color: #00000063;
  padding: 5px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: large;
  color: #00000063;
  padding: 5px;
}
/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #d10000;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #d10000;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* hvr fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* contact btn */
.top_btns {    
    position: fixed;
    background: url(https://raw.githubusercontent.com/mappingprejudice/mappingprejudice.github.io/master/images/mail_icon.png) no-repeat rgba(17, 17, 17, 0);
    height: 46px;
    width: 46px;
    border-width: 0px;
    right: 0;
}

.top_btns:hover {
    color:#ffffff;
    cursor: pointer;
}
/**-------------------**/  
/** RESPONSIVE DESIGN **/
/**-------------------**/  

@media screen and (max-width: 2200px){

    .stickyNavList-btn {
        display: none;
    }
    .page-title-padding {
        padding: 150px;
    }
    .banner-img {
        background: url(../images/shanty_postcard_2600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-about {
        background: url(../images/group_2600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-covenants {
        background: url(../images/delphian_heights_2600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-get-involved {
        background: url(../images/aerial_banner_2600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-stories {
        background: url(../images/covenants_wall_2600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-resources {
        background: url(../images/resources_banner_2600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-events{
        background: url(../images/freeways_2600.png) no-repeat #111;
        background-position: center top;
    }
     .iframe-div{
        height: 450px;
    }
}
@media screen and (max-width: 1600px){
    .banner-img {
        background: url(../images/shanty_postcard_1600.png) no-repeat #111;
        background-position: center top;
    }
     .banner-img-about {
        background: url(../images/group_1600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-covenants {
        background: url(../images/delphian_heights_1600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-get-involved {
        background: url(../images/aerial_banner_1600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-stories {
        background: url(../images/covenants_wall_1600.png) no-repeat #111;
        background-position: center top;
    }
    .banner-img-resources {
        background: url(../images/resources_banner_1600.png) no-repeat #111;
        background-position: center top; 
    }
    .banner-img-events{
        background: url(../images/freeways_1600.png) no-repeat #111;
        background-position: center top;
    }
    #myiframe{
        height: 530px;
    }
}
@media screen and (max-width: 1300px){

     .banner-img {
        background: url(../images/shanty_postcard_1300.png) no-repeat #111;
        background-position: center top; 
    }
    .page-title-padding {
        padding: 100px;
    }
    .iframe-div{
        height: 400px;
    }
     .banner-img-about {
        background: url(../images/group_1300.png) no-repeat #111;
        background-position: center top; 
    }
    .banner-img-covenants {
        background: url(../images/delphian_heights_1300.png) no-repeat #111;
        background-position: center top; 
    }
    .banner-img-get-involved {
        background: url(../images/aerial_banner_1300.png) no-repeat #111;
        background-position: center top; 
    }
    .banner-img-stories {
        background: url(../images/covenants_wall_1300.png) no-repeat #111;
        background-position: center top; 
    }
    .banner-img-resources {
        background: url(../images/resources_banner_1300.png) no-repeat #111;
        background-position: center top; 
    }
    .banner-img-events{
        background: url(../images/freeway_1300.png) no-repeat #111;
        background-position: center top;
    }
    .iframe-media {
        width: 325px;
        height: 250px;
    }
}
@media screen and (max-width: 1080px) {

    .stickyNav {
        display: none;
    }
  
    .sub-title-list-nav-contact {
        display: none;
    }
    .sub-title-list-nav-events {
        display: none;
    }
    .sub-title-list-nav-donate {
        display: none;
    }

    #show-title {
        display: inline-block;
    }
    #show-img {
        display: inline-block;
    }
    #hide-menu {
        display: none;
    }
    #myiframe{
        height: 500px;
    }
   
    .active-nav-link {
        color: #f3f3f3;
        font-size: larger;
        border-bottom: 0px;
        border-bottom-style: solid;
        border-color: #d10000;
        font-weight: normal;
        display: inline-block;
        padding: 0px;
        width: inherit;     
    }
    .active-nav-link:hover{
        color: #ffffff;
    }
    a.side-nav-link:hover {
        color: #ffffff;
    }
    .hvr-underline-from-left:before {
        background: rgba(0, 0, 0, 0);
    }   
    .sub-title-list {
        margin: 10px;
    }

    #sub-title-header-list li{
        font-size: medium;
    }

    .iframe-media {
        width: 300px;
        height: 225px;
    }
    .footer-text-p  {
        margin-top: 12px;
    }

}

@media screen and (max-width: 985px) {

    .flex{
        display: grid;
    }
    .flex-center {
        padding: 2% 10%;
    }
    .iframe-div {
        width: 100%;
        margin: auto;
    }
    .flex p{
        padding: 1% 5% 1% 5%;
    }
    p.p-no-padding {
        padding: 0%;
    }
    .main-title-lead{
        font-size: 40px;
    }
    .main-title {
        line-height: inherit;
        padding-top: 60px;
    }


    #lead-para{
        margin: 0;
    }
    .mid-display-hide{

    }
    .top-sticky-nav-desktop{
        height: 60px;
    }
    .stickyNavList{
        padding: .5%;
    }

    .stickyNavList-btn {
        background: none;
        border: 0px;
        height: 35px;
        right: 0;
        position: fixed;
        margin-top: 10px;
        display: inline-flex;
    }
    .stickyNavList-btn:focus {
        outline: 0px !important;
    }

    #show-nav{
        border: none;
        padding: 0px;
        margin: 0px;
    }
    .nav-right{
        display: none;
    }
    .stickyNav{
        margin-top: 60px;
    }

    .stickyNav ul {
        text-decoration: none;
        list-style-type: none;
        padding: 1% 0%;
        background-color: #000000d9;
    }

    #iframe-margin{
        margin: 0% 5%;
    }
    .flex-btn{
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 5%;
        line-height: 1;
    }

    .flex-para-get-involved {
        margin-bottom: 0%;
    }
    .text-padding{
        padding: 0%;
    }
    .bio-div{
        text-align: center;
    }
    .bio-imgs {
        padding-right: 0%;
        display: inline-block;
        margin: 5%;
        text-align: center;
    }
 
    #mc_embed_signup {
        text-align: left;
    }

    #carto_screen{
        display: none;

    }
    .social-width {
        float: none;
        }

    #contact-btn {
        display: none;
    }
    .social-ul {
        display: -webkit-inline-box;
        text-align: center;
    }

    .ul-main-page-btns li {
        margin: 0px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 3%;
    }

    .sub-title-list {
        font-size: small;
    }

    .media-item-1 {
        width: 100%;
        max-width: 800px;
        background-color: aliceblue;
        padding-top: 50px;
    }
    .media-item-2 {
        width: 100%;
        max-width: 800px;
        background-color: #f2f2ed;
        padding-top: 50px;
    }
    .media-ul {
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    .iframe-media {
        width: 350px;
        height: 250px;
        text-align: center;
    }

    .press-text-title {
        text-align: center;
    }

    .press-author {
        text-align: center;

    }
    .press-text {
        text-align: center;
    }
    .press-imgs {
        width: 100%;
        max-width: 475px;
    }

    #hr-mobile-hide{
        display: none;
    }
    .media-group-title {
        margin-bottom: 45px;
        text-align: center;
        margin-left: 0px;
    }
     .flex-title-content-block {
        padding: 5% 5% 0% 5%;
    }
    .flex-title-page{
        padding: 20% 0%;
        font-size: 35px;
    }

}

@media screen and (max-width: 475px)  {

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .speaking-pading {
        margin: 0% 5% 0% 0%;
        width: 300px;
    }
    .media-title-line{
        padding: 3%;
    }
    .flex-title-page {
        padding: 25% 0%;
    }
    .flex-center {
        display: grid;
        padding: 0% 10%;
    }
    .flex-div-2-left{
        margin-top: 2em;
    }
    .about-bios {
        background-color: white;
        padding: 0%;
    }
    .bio-sub-title {
        text-align: center;
    }
    .iframe-div{
        display: none;
    }
    #link-box-5 {
        margin: 0px;
        line-height: 10px;
    }
    .events-flex{
        display: grid;
    }
    .location-box {
        flex: 1;
        text-align: center;
        border: none;
    }
    .date-box {
        border: none;
    }
    .events-date {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .flex-title-get-involved{
        font-size: large;
    }
    .flex-title-get-involved{
        padding: 2%;
    }

    .flex-title-stories{
        font-size: 30px;
    }
    .img-icon{
        max-height: 120px;
        margin-bottom: 5%;
    }
    .mobile-hide{
        display: none;
    }

    .top-section {
        padding-bottom: 0px;
    }

    .main-title-lead{
        font-size: 30px;
    }

    .flex-title{
        font-size: 30px;
    }

    .mobile-main-title-screen{
        background-color: rgba(245, 244, 244, 0.85);
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #lead-para{
        text-align: center;
    }
    #sub-title-link-events{
        color: white;
        font-weight: 500;
    }
    #sub-title-link-contact{
        color: white;
        font-weight: 500;
    }
    #sub-title-link-donate{
        color: white;
        font-weight: 500;
    }         
    #sub-title-link{
        color: white;
        font-weight: 500;
    }
    a#sub-title-link:hover{
        color: white;
    }

    #mobile_drop {
        display: none;
    }
    .content-top-bar {
        height: 3px;
        background-color: #757171;
    }

    .page-lead-img {
        margin-top: 25px;
    }

    .ul-main-page-btns li {
        margin-top: 5%;
    }
    .sub-title {
        margin-top: 0px;
    }
    .sub-title-list {
        margin: 10px 5px 0px 5px;
        font-size: 10px;
    }

    #sub-title-header-list li {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .stickyNav-menu-center {
            margin: 0px;
    }
    .logo-imgs {
        max-height: 75px;
    }
    .logo-images-div {
            text-align: center;
            margin: 5%;
    }
    #myiframe{
        display: none;
    }
    #myiframe-mobile{
        display: block;
    }
    .bx-wrapper{
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .main-page-btns{
        margin-left: 0px;
        margin-right: 0px; 
    }

    .press-imgs {
        max-width: 350px;
    }
    .media-group-title {
        padding-bottom: 45px;
        padding-top: 45px;
        margin: 0px;
        text-align: center;
        border-bottom-color: #757575;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-top-color: #757575;
        border-top-width: 2px;
        border-top-style: solid;
    }
    .footer-text-p {
            line-height: 1;
            font-size: 11px;
            margin-top: 10px;
    }
    #contact_modal_div {
        left: 5%;
            top: 5%;
            bottom: 5%;
            right: 5%;
    }
    #events_modal_div {
            left: 5%;
            top: 15%;
            bottom: 5%;
            right: 5%;
            font-size: smaller;
    }
    #kevBtn {
        margin-left: -27px;
        
    }
    .iframe-background {
        margin-right: 7%;
        margin-left: 7%;
        margin-top: 30px;
    }

    .iframe-media {
        width: 300px;
        height: 200px; 
    }
    p {
        padding-right: 7%;
        padding-left: 7%;
    }
    .model-events-text {
            font-size: smaller;
    }
/** social media icons **/

    .social-width {
        float: none;
        }
    #social-list {
        margin-top: 20px;
    }
    #contact-btn {
        display: none;
    }
    .social-ul {
        display: -webkit-inline-box;
        text-align: center;
    }   
}
