/** Modal and Modal Button Styles **/
#kevBtn {
    display: block;
    position: absolute;
    margin-top: 21px;
    margin-left: -17px;
    width: 14px;
    height: 14px;
    padding: 14px;
    background: #fff url(https://raw.githubusercontent.com/mappingprejudice/mappingprejudice.github.io/master/images/fullscreen.png) no-repeat 7px 3px;
    box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.72);
} 
.modal-content {
	position: fixed;
    top: 0;
    bottom: 20px;
    left: 23px;
    right: 30px;

}

#iframe-modal {
    border-style: solid;
    border-width: 3px !important;
    border-color: #827b7b;
    width: 100%; 
    border-width: 0px
}

.iframe-media {
    height: 210px; 
}
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/** contact modal setting **/

.top_btns {
    height: 38px;
    font-size: medium;
}
#contact_modal_screened {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 10;
}
#contact_modal_div {
    display: block;
    position: fixed;
    z-index: 10;
    left: 25%;
    top: 15%;
    bottom: 10%;
    right: 25%;
    overflow: hidden;
    background-color: #e6e6e6;
    border-radius: 7px;
} 
.contact_modal_content {
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1%;

}
#contact_close {
    color: #5d5c5c;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}
#contact_close:hover,
#contact_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#field_text_comment_box {
    height: 175px;
}
.field-div {
    background-color: #e6e6e6;
    margin: 20px;
}
.form-title{
  

}
.form-field{
    margin-bottom: 25px;
    display: block;
    height: 20px;
    width: 100%;
}

.field-text{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
  
}
.sub-field-div{
  
}

/** events Modal Content **/
#events_modal_screened {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 10;
}
#events_modal_div {
    position: fixed;
    z-index: 10;
    left: 25%;
    top: 15%;
    bottom: 10%;
    right: 25%;
    overflow: hidden;
    background-color: #e6e6e6;
    border-radius: 7px;
}
#events_modal_div_iframe {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    background-color: #e6e6e6;
    border-radius: 0px;
    height: 100%;
}
.events_modal_content {
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1%;

}
#events_close {
    color: #5d5c5c;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}
#events_close:hover,
#events_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.model-events-text {
    line-height: 1;
    margin-left: 5%;
    margin-right: 5%
}
.modal-title {
    color: black;
    text-align: center;
}


/** Carto Style Edits **/

.cartodb-timeslider {
	bottom: 15px !important;
	left: 20px !important;
}

.cartodb-logo {
	display: none !important;
}

div.cartodb-timeslider .ui-slider-horizontal {
	height: 8px !important;
}

div.cartodb-timeslider .ui-slider .ui-slider-handle {
	background: url(../images/sliderdark.png) no-repeat -98px -17px #fff !important;
	top: -3px !important;
	height: 11px !important;
}

div.cartodb-timeslider a.button{    
	background: url(../images/sliderdark.png) no-repeat -2px -55px !important;
}

div.cartodb-timeslider p {
	color: #5b5858 !important;
	font-size: 15px !important;
}

div.cartodb-timeslider a.button:hover {
    background-position: -42px -55px !important;
}

div.cartodb-timeslider a.button.stop:hover {
    background-position: -42px -4px !important;
}

div.cartodb-timeslider a.button.stop {
    background-position: -2px -4px !important;
}
.leaflet-control-attribution {
	display: none;
}

div.cartodb-popup.v2 {
	margin-top: 50px;
	margin-right: 25px;
}

/** 

modal btn stuff **/
.img-btn-screen-txt-home{
    color: #2d2c2a;
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 1px 1px 5px #908f8f;
    border: 1px solid #797979;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.66);
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.footnote-text {
	font-size: smaller;
}


/** Bxslider Edits **/

ul.bxslider {
	margin: 0px;
}

#slidertext {
	padding: 0px;
	padding-bottom: 5px;
	margin-left: 55px;
    margin-right: 50px;
	text-align: center;
}

#sliderlink {
	color: #c2dee8;
	text-align: center;
}

.bx-wrapper {
	margin-left: 5% !important;
	margin-right: 5% !important;
	margin-bottom: 60px !important;
}

/** main nav bar desktop display **/

.top-sticky-nav-container{
    margin-top: 5px;
}

.top-sticky-nav-desktop{
    position: fixed;
    background-color: #000000;
    height: 60px;
    top: 0px;
    width: 100%;
    z-index: 10;
    display: none;
}
#show-nav {
    display: block;
}
.homepage-icon{

}
.sub-title-list-nav-contact {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    color: #000000;
    position: fixed;
    right: 100px;
}
.sub-title-list-nav-contact a{
    color: #ffffff;
}

.sub-title-list-nav-contact a:hover{
    color: grey;
}

.sub-title-list-nav-events {
    display: inline-block;
    margin-right: 30px;
    margin-left: 55px;
    color: #000000;
    position: fixed;
    right: 0;
}
.sub-title-list-nav-events a{
    color: #ffffff;
}
.sub-title-list-nav-events a:hover{
    color: grey;
}

.sub-title-list-nav-home {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    color: #000000;
    position: fixed;
    left: 0;
}
.sub-title-list-nav-home a{
    display: inline-block;
    margin-left: 10px;
    color: #ffffff;
    position: fixed;
    left: 0;
    font-size: x-large;
    font-weight: bolder;
    top: 15px;
}
.sub-title-list-nav-home a:hover{
    color: grey;
}
/** side nav bar menu styles **/

#hr-mobile {
    margin: 5%;
}

#hr-mobile-hide{
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.nav_container_mp {
    width:100%;
    height:1000px;
    position:relative;
    background:black;
}
#stickyNav_container {
    position: absolute;
    margin: 0 auto;
}

.stickyNav-img {
    display: none;
}


#stickyNav {
    height: 312px;
    width: 145px;
    border-radius: 0px 0px 5px 5px;
    z-index: 10;
    position: relative;

}
#stickyNav ul {
	float: left;
  padding-left: 0px;
  margin-top: 2px;

}

#top-nav-item{
	margin-top: 15px;
  padding-top: 10px;
}
.stickyNavList {
    margin-top: 2em;
	 margin-bottom: 4em;
    list-style: none;
    color: #a79797;
    /* border-width: 0px 0px 2px 0px;
    border-style: groove; */
}
.stickyNavList-active {
	border-width: 0px;
	
}
.stickyNavList-lead{
    display: none;
}

.active-nav-link {
    color: black;
    font-size: larger;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #d10000;
    padding-right: 85px;
    font-weight: bold;
    display: inline-block;
    padding: 38px 5px 0px 0px;
    width: 125px;
}

.active-nav-link:hover{
    color: black;
}

/** Blog Post Styles **/
.news-title {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    padding-top: 5%;
    border-top-color: grey;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: larger;
    color: black;
}
.about-sub-title {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 6%;
    font-size: larger;
    color: black;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.date-line {
    margin-bottom: 5px;
    font-style: italic;
}

.post-text {
  margin-top: 0px;
}

.page-sub-title {
    text-align: center;
    border-bottom: #393f44;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-left: 5%;
    margin-right: 5%;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0px;
}

.blog-img {
    max-width: 500px;
}

.blog-img-div {
    text-align: center;
}

/** Page Styles **/

.banner-img {
    background: url(https://raw.githubusercontent.com/mappingprejudice/mappingprejudice.github.io/master/images/mp-banner-V2.png) no-repeat #111;
    background-position: center top;
    width: 100%;
    position: fixed;
    left: 0;
    min-height: 200px;
    z-index: -1;
    padding-bottom: 30px;
    background-color: #ffffff !important;
    background-size: initial !important;
}
.content-top-bar {
    height: 5px;
    background-color: black;
}
#content {
    background: rgb(234, 234, 235) !important;
	
}

#lead-para {
	  padding-top: .5em;
    font-weight: bold;
}

.page-lead-img {
    max-width: 86%;
    height: auto;
    padding: 2%;
    background-color: grey;
}

.page-body-img {
    max-width: 65%;
    height: auto;
    padding: 2%;
    background-color: grey;
}
.img-sub-script {
    color: #808080;
    margin-top: 5px;
    font-style: italic;
    font-size: medium;
    text-align: center;
}
.side-nav-bar {
    position: absolute;
}
.side-nav-link {
	list-style: none;
    	color: #a5a5a5;
	text-decoration: none;
	font-size: larger;
}
a.side-nav-link:hover {
    color: black;
}
li:hover {
    border-color: transparent;
}

.mp-lead-img {
	height: auto;
}


.align-center-div {
	padding-top: 5%;
    padding-bottom: 5%;
	background-color: #9a9a9a;
    text-align: center;
}
	
.entry-content {
	background-color: none;
}

body {
    background-color: #ffffff;
    margin: 0px;
    font-family: Walfork,Walsheim,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    margin-bottom: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5;
	 color: black;
}
.training-text {
	text-align: left;
}

.iframe-div {
    padding-left: 5%;
    padding-right: 5%;
}
#myiframe-mobile{
    display: none;
}
.training-text-div { 
    width: 45%;
    margin: 0px;
    display: inline-flex;
}
.content-width {
    /* background-color: #f1f1ec; */
	margin: 0 auto;
    max-width: 800px;
    padding-bottom: 15px;
    padding-top: 30px;
    margin-bottom: 15px;
}

.iframe-box {
    background-color: rgba(92, 89, 89, 0.72);
}

.iframe-background {
    background-color: #9a9a9a;
    text-align: center;
    padding: 1%;
    margin-right: 5%;
    margin-left: 5%;
    
}
.top-section {
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
}

.top-section-text {
    margin-left: 20%;
    margin-right: 10%;
    text-align: center;
}

.main-title {
    font-size: 50px;
    margin: 0px;
    padding-top: 30px;
}

#main_title_a {
  color: black;
  
}
.sub-title{
    margin-top: 25px;
    margin-bottom: 0px;
}

.sub-title-list {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    color: #000000;
}

.bio-name {
    margin: 0px;
    font-weight: 600; 
}

.bio-text {
    font-weight: 300;
    margin: 0px;

}

#sub-title-link-contact {
  color: #000000;
}

#sub-title-link-events {
  color: #000000;
}

#sub-title-link {
    text-decoration: none;
    color: #000000;
}
a#sub-title-link:hover {
    color: #000000;
}
 a:hover{
    color: #d10000;
 }

a {
    text-decoration: none;
    color: #688bbb;
}

.left-nav-ul {
    margin: 0px; 
    width: 85%; 
    background-color: #dde1e6;
}

.ul-main-page-btns {
    text-align: center;
    padding-left: 0%;
}

.ul-main-page-btns li{
    display: inline-block;
    padding: 20px;
    background-color: #ad9d9d;
    font-size: larger;
    margin: 2.5% 10% 0% 10%;
}

.ul-main-page-btns li a {
    color: white;
    display: inline-block;
    padding: 20px;     
    margin: -20px; 
}

.ul-main-page-btns li a:hover{
    color: #000000;
}
.main-page-btns {
    /** background-color: #d8dadc; **/
    margin-left: 5%;
    margin-right: 5%;
    height: 63px;
    margin-bottom: 60px;
}
/** Media Page Styles **/

.media-group-title{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 5%;
    font-size: xx-large;
}

.media-item-1 {
    display: inline-block;
    max-width: 334px;
    vertical-align: top;
}
.media-item-2 {
    display: inline-block;
    max-width: 334px;
    vertical-align: top;
}

.media-item-div {
    text-align: center;
}

.media-map-img {
    max-width: 65%;
    height: auto;
}

.press-img-box {
    height: 200px;
}
.press-images-div{
    text-align: center;
}
.press-imgs {
  max-width: 300px;
}
.press-text-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    text-align: left;
}

.press-author {
    margin-bottom: 2em;
    font-size: smaller;
    text-align: left;

}
.press-text {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    text-align: left;
}
/** Social Icon Style **/

#ssk-overide-fb{
    background-image: url('../images/Facebook.png');
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    background-size: 40px;
    background-repeat: no-repeat;
    margin-left: 10px;
}
#ssk-overide-twit{
    background-image: url('../images/Twitter.png');
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    background-size: 40px;
    background-repeat: no-repeat;
    margin-right: 10px;
}
#ssk-overide-google{
    background-image: url('../images/Google_Plus.png');
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    background-size: 40px;
    background-repeat: no-repeat;
    margin-left: 20px;
}
#social-icons {
    float: right;
}

#social-list {
    margin-top: 10px;
}
#social-list-mobile {
    display: none;
    position: fixed;
    z-index: 10;
    right: 0;
    margin-top: 170px;
}

#social-list li{
    display: inline-block;
}
/*footer styles */

footer {
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
    height: 205px;
    background-color: #a9bbd2;

}

#sub-title-link-footer {
    text-decoration: none;
    color: #ffffff;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    padding: 5px;

}

#sub-title-link-footer:hover {
  border-color: #d10000;
  cursor: pointer;
}


.footer-btn-box-div {
    margin-top: 0px;
}

.logo-images-div {
  text-align: center;
  margin-top: 20px;
}
.logo-imgs {
  max-height: 100px;
}

#footer-icons {
  color: black;
}
.footer-text {
    padding-bottom: 10px;
    height: 200px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
#footer-contact-btn {
    text-decoration: none;
    color: #ffffff;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    padding: 5px;
}
#footer-contact-btn:hover {
  border-color: #d10000;
  cursor: pointer;
}
.footer-text-p {
  color: #6d6c6c;
  font-size: small;
  margin-bottom: 0px;
}
.footer-text-p-social {
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}
.footer-para {
    margin-bottom: 25px;
    margin-top: 25px;
  
}
#sub-header-content {
    position: relative;
    z-index: 1;
    background: #ffffff;
    min-height: 500px;
    margin-bottom: 25px;
}

.wrapper-parallax {
    margin-top: 0px;
    margin-bottom: 205px;
}


/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #d10000;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #d10000;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* contact btn */
.top_btns {    
    position: fixed;
    background: url(https://raw.githubusercontent.com/mappingprejudice/mappingprejudice.github.io/master/images/mail_icon.png) no-repeat rgba(17, 17, 17, 0);
    height: 46px;
    width: 46px;
    border-width: 0px;
    right: 0;
}

.top_btns:hover {
    color:#ffffff;
    cursor: pointer;
}
/**-------------------**/  
/** RESPONSIVE DESIGN **/
/**-------------------**/  

@media screen and (max-width: 2200px){
    #sub-header-content{
        padding-right: 13%;
        padding-left: 13%;  
    }
    .top-section-text{
        margin-right: 20%;
        margin-left: 20%;
    }
    .stickyNavList {
        margin: 0px;

    }
    .side-nav-link{
        padding: 45px 20px 0px 0px;
        width: 110px;
    }

    .stickyNavList-btn {
    display: none;
    }
}
@media screen and (max-width: 1600px){
    #sub-header-content{
        padding-right: 6%;
        padding-left: 6%;   
    }
    .top-section-text{
        margin-right: 10%;
        margin-left: 10%;
    }
}
@media screen and (max-width: 1300px){
    .top-section-text{
        margin-right: 5%;
        margin-left: 5%;
    }
    #stickyNav ul {
        padding-left: 0px;
    }
    
    #sub-header-content {
        padding-right: 5%;
        padding-left: 5%;
    }

    .iframe-media {
        width: 325px;
        height: 250px;
    }
}
@media screen and (max-width: 1080px) {
    #sub-header-content{
        padding-right: 0%;
        padding-left: 0%;   
    }
    .top-section-text{
        margin-right: 0%;
        margin-left: 0%;
    }

    .sub-title-list-nav-contact {
        display: none;
    }
    .sub-title-list-nav-events {
        display: none;
    }
    #stickyNav{
        height: 50px;
        width: 100%;
    }
    #stickyNav ul{
        float: none;
        text-align: center;
        padding: 0px;
        margin-top: 0px;
    }
    .stickyNavList {
        display: none;
        padding: 7px;
        border-width: 0px;
        margin: 0px;
    }
    
    .stickyNavList-lead {
        display: block;
    }
    #active-lead.stickyNavList-lead {
        display: inline-block;
        width: 100%;
    }
    .stickyNavList-btn {
    background-color: black;
    border: 0px;
    height: 35px;
    right: 0;
    position: fixed;
    margin-top: 4px;
    display: inline-flex;
    }
    .stickyNavList-btn:focus {
        outline: 0px !important;
    }
    #left_nav_ul {
        margin: 0px;
        background-color: #000000;
    }
    .side-nav-link{
        padding: 0px;
    }

    #show-title {
        display: inline-block;
    }
    #show-img {
        display: inline-block;
    }
    #hide-menu {
        display: none;
    }
    .stickyNav-title {
        display: none;
        float: left;
        margin: 10px 0px 0px 10px;
    }

    .stickyNav-img {
        float: right;
        margin-right: 10px;
        height: 35px;
        width: 33px;
    }
    .stickyNav-menu-center {
        display: inline-block;
            margin: 10px 0px 0px 0px;
            text-align: center;
    }
    .active-nav-link {
        color: #f3f3f3;
        font-size: larger;
        border-bottom: 0px;
        border-bottom-style: solid;
        border-color: #d10000;
        font-weight: normal;
        display: inline-block;
        padding: 0px;
        width: inherit;     
    }
    .active-nav-link:hover{
        color: #ffffff;
    }
    a.side-nav-link:hover {
        color: #ffffff;
    }
    .hvr-underline-from-left:before {
        background: rgba(0, 0, 0, 0);
    }   
    .sub-title-list {
        margin: 10px;
    }

    #sub-title-header-list li{
        font-size: medium;
    }

    .iframe-media {
        width: 300px;
        height: 225px;
    }

    .footer-text-p  {
        margin-top: 12px;
    }

}

@media screen and (max-width: 800px) {
    /** social media icons **/
    .social-width {
        float: none;
        }

    #contact-btn {
        display: none;
    }
    .social-ul {
        display: -webkit-inline-box;
        text-align: center;
    }

    .ul-main-page-btns li {
        margin: 0px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 3%;
    }

    .sub-title-list {
        font-size: small;
    }

    .media-item-1 {
        width: 100%;
        max-width: 800px;
        background-color: aliceblue;
        padding-top: 50px;
    }
    .media-item-2 {
        width: 100%;
        max-width: 800px;
        background-color: #f2f2ed;
        padding-top: 50px;
    }
    .media-ul {
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    .iframe-media {
        width: 350px;
        height: 250px;
        text-align: center;
    }

    .press-text-title {
        text-align: center;
    }

    .press-author {
        text-align: center;

    }
    .press-text {
        text-align: center;
    }
    .press-imgs {
        width: 100%;
        max-width: 475px;
    }
    #hr-mobile-hide{
        display: none;
    }
    .media-group-title {
        margin-bottom: 45px;
        text-align: center;
        margin-left: 0px;
    }
}

@media screen and (max-width: 475px)  {

    .top-section {
        background-color: black;
        padding-bottom: 20px;
    }
    .banner-img{
        display: none;
    }
    .mobile-main-title-screen{
        background-color: rgba(245, 244, 244, 0.85);
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main-title {
        font-size: 40px;
        margin: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        background: url(https://raw.githubusercontent.com/mappingprejudice/mappingprejudice.github.io/master/images/mp-banner-V2.png) no-repeat #111;
        background-position: 22% 2%;

    }
    #main_title_a {
        color: black;
    }

    #sub-title-link-events{
        color: white;
        font-weight: 500;
    }
    #sub-title-link-contact{
        color: white;
        font-weight: 500;
    }       
    #sub-title-link{
        color: white;
        font-weight: 500;
    }
    a#sub-title-link:hover{
        color: white;
    }
    .content-width {
        padding-top: 0px;
    }
    .content-top-bar {
        height: 3px;
        background-color: #757171;
    }

    .page-lead-img {
        margin-top: 25px;
    }

    .ul-main-page-btns li {
        margin-top: 5%;
    }
    .sub-title {
        margin-top: 0px;
    }
    .sub-title-list {
        margin: 10px 5px 0px 5px;
        font-size: 10px;
    }

    #sub-title-header-list li {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .stickyNav-menu-center {
            margin: 0px;
    }
    .logo-imgs {
        max-height: 75px;
    }
    .logo-images-div {
            text-align: center;
            margin: 5%;
    }
    #myiframe{
        display: none;
    }
    #myiframe-mobile{
        display: block;
    }
    .bx-wrapper{
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .main-page-btns{
        margin-left: 0px;
        margin-right: 0px; 
    }

    .press-imgs {
        max-width: 350px;
    }
    .media-group-title {
        padding-bottom: 45px;
        padding-top: 45px;
        margin: 0px;
        text-align: center;
        border-bottom-color: #757575;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-top-color: #757575;
        border-top-width: 2px;
        border-top-style: solid;
    }
    .footer-text-p {
            line-height: 1;
            font-size: 11px;
            margin-top: 10px;
    }
    #contact_modal_div {
        left: 5%;
            top: 5%;
            bottom: 5%;
            right: 5%;
    }
    #events_modal_div {
            left: 5%;
            top: 5%;
            bottom: 5%;
            right: 5%;
            font-size: smaller;
    }
    #kevBtn {
        margin-left: -27px;
        
    }
    .iframe-background {
        margin-right: 7%;
        margin-left: 7%;
        margin-top: 30px;
    }

    .iframe-media {
        width: 300px;
        height: 200px; 
    }
    p {
        padding-right: 7%;
        padding-left: 7%;
    }
    .model-events-text {
            font-size: smaller;
    }
/** social media icons **/

    .social-width {
        float: none;
        }
    #social-list {
        margin-top: 20px;
    }
    #contact-btn {
        display: none;
    }
    .social-ul {
        display: -webkit-inline-box;
        text-align: center;
    }   
}

